.principal {
  padding: 4rem 3.2rem;
  grid-column: 2 / -1;
}

.home-container > .popup-container.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000d9;
  z-index: 1000;
  transition: all 0.3s ease-out;
}
