.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: .65px;
    text-transform: uppercase;
}

span {
    font-size: 1.45rem;
    font-weight: 300;
    color: #b2cce0;
}

.navbar-body {
    display: flex;
    align-items: center;
}

.navbar-body span {
    background-color: #03386d;
    margin-right: 4rem;
    font-size: 2.4rem;
    padding: 0 1rem;
    height: 45px;
    display: flex;
    align-items: center;
}