.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .65px;
    text-transform: uppercase;
}

span {
    font-size: 1.2rem;
    font-weight: 300;
    color: #b2cce0;
}

.navbar-body {
    display: flex;
    align-items: center;
}

.navbar-body >span {
    background-color: #015b97;
    margin-right: 4rem;
    font-size: 2.4rem;
    padding: 0 1rem;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-out;
}
.navbar-body > span:hover {
    background-color: #02386c;
}

.navbar-body > span.msg::after {
    content: '';
    position: absolute;
    width: .85rem;
    height: .85rem;
    background-color: #ad2929;
    border-radius: 50%;
    right: 1.2rem;
    top: 1.2rem;
}